<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>HTML Introduction</h1>
                        <p class="">The HyperText Markup Language, or HTML is the standard markup language for documents
                            designed to be displayed in a web browser. It can be assisted by technologies such as
                            Cascading Style Sheets and scripting languages such as JavaScript.</p>
                       <a href="https://www.w3schools.com/html/" target="blank" class="btn btn-primary">More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>CSS Introduction</h1>
                        <p>Cascading Style Sheets is a style sheet language used for describing the presentation of a
                            document written in a markup language such as HTML. CSS is a cornerstone technology of the
                            World Wide Web, alongside HTML and JavaScript.</p>
                         <a href="https://www.w3schools.com/css/" target="blank" class="btn btn-primary">More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>JavaScript Introduction</h1>
                        <p>JavaScript, often abbreviated as JS, is a programming language that conforms to the
                            ECMAScript specification. JavaScript is high-level, often just-in-time compiled, and
                            multi-paradigm. It has curly-bracket syntax, dynamic typing, prototype-based
                            object-orientation, and first-class functions.</p>
                         <a href="https://www.w3schools.com/js/" target="blank" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

  

    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Welcome to Backend </h1>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                  
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcXRK2O_RqcqkwgM2uBzQKc_VTRYygOalgeY9xPWWPtSpghy5JEYVTDTlCNXx0GjH1Nsc&usqp=CAU"
                                    alt="" />
                                <h1>Node Js Introduction</h1>
                                <p>Node. js (Node) is an open source development platform for executing JavaScript code server-side. ... js is intended to run on a dedicated HTTP server and to employ a single thread with one process at a time. Node. js applications are event-based and run asynchronously. </p>
                               <a href="https://www.w3schools.com/nodejs/nodejs_intro.asp" target="blank" class="btn btn-primary">More</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                  
                                    src="https://3.bp.blogspot.com/-YM2hfw3TRRE/XDHA2j-kcnI/AAAAAAAALRw/SY9qAQ-CXeQZyCroiNDSKCTGI-5BL54ZwCLcBGAs/s640/Mongo%2BDB.png"
                                    alt="" />
                                    
                                <h1>Mongo Db</h1>
                                <p>MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License</p>
                                <a href="https://www.w3schools.com/nodejs/nodejs_mongodb_create_db.asp" target="blank" class="btn btn-primary">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>